In [1]:
import pandas as pd
import ast

# Import dataframes

In [2]:
train = pd.read_csv('Data/train.csv')
#train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kaggle/NBME_patient_notes2/Data/train.csv')
train['annotation'] = train['annotation'].apply(ast.literal_eval)
train['location'] = train['location'].apply(ast.literal_eval)
#features = pd.read_csv('../input/nbme-score-clinical-patient-notes/features.csv')
features = pd.read_csv('Data/features.csv')
#features = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/kaggle/NBME_patient_notes2/Data/features.csv')
def preprocess_features(features):
    features.loc[27, 'feature_text'] = "Last-Pap-smear-1-year-ago"
    return features
features = preprocess_features(features)
#patient_notes = pd.read_csv('../input/nbme-score-clinical-patient-notes/patient_notes.csv')
patient_notes = pd.read_csv('Data/patient_notes.csv')
display(train.head())
display(features.head())
display(patient_notes.head())
display(len(patient_notes))

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,[dad with recent heart attcak],[696 724]
1,00016_001,0,16,1,"[mom with ""thyroid disease]",[668 693]
2,00016_002,0,16,2,[chest pressure],[203 217]
3,00016_003,0,16,3,"[intermittent episodes, episode]","[70 91, 176 183]"
4,00016_004,0,16,4,[felt as if he were going to pass out],[222 258]

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

42146

In [3]:
#delete from patient notes notes that exists in train
patient_notes= patient_notes.merge(train, on=['pn_num', 'case_num'], how='left')
patient_notes = patient_notes.drop(patient_notes[patient_notes['id'].isnull() == False].index)
patient_notes = patient_notes.drop(['id', 'feature_num','annotation','location'], axis=1)
#patient_notes = patient_notes.reset_index()
unlabeled = pd.DataFrame(columns = ['pn_num','case_num','pn_history'])
for case in range(10):
    new_data = patient_notes[patient_notes['case_num'] == case]
    new_data = new_data.sample(n = 60)
    unlabeled = pd.concat([unlabeled,new_data],ignore_index = True)
display(len(unlabeled))

600

In [4]:
unlabeled = unlabeled.merge(features, on=['case_num'])
display(len(unlabeled))

8580

In [5]:
display(unlabeled)

,pn_num,case_num,pn_history,feature_num,feature_text
0,1646,0,"a 17-year-old male, has come to the student he...",0,Family-history-of-MI-OR-Family-history-of-myoc...
1,1646,0,"a 17-year-old male, has come to the student he...",1,Family-history-of-thyroid-disorder
2,1646,0,"a 17-year-old male, has come to the student he...",2,Chest-pressure
3,1646,0,"a 17-year-old male, has come to the student he...",3,Intermittent-symptoms
4,1646,0,"a 17-year-old male, has come to the student he...",4,Lightheaded
...,...,...,...,...,...
8575,93515,9,20 yo F c/o headache since yesterday. She says...,912,Family-history-of-migraines
8576,93515,9,20 yo F c/o headache since yesterday. She says...,913,Female
8577,93515,9,20 yo F c/o headache since yesterday. She says...,914,Photophobia
8578,93515,9,20 yo F c/o headache since yesterday. She says...,915,No-known-illness-contacts
8579,93515,9,20 yo F c/o headache since yesterday. She says...,916,Subjective-fever

In [6]:
unlabeled.to_csv('/home/artem/jupyter_files/NBME_patient_notes/unlabeled.csv', index = False)

In [7]:
display(unlabeled.head())

,pn_num,case_num,pn_history,feature_num,feature_text
0,1646,0,"a 17-year-old male, has come to the student he...",0,Family-history-of-MI-OR-Family-history-of-myoc...
1,1646,0,"a 17-year-old male, has come to the student he...",1,Family-history-of-thyroid-disorder
2,1646,0,"a 17-year-old male, has come to the student he...",2,Chest-pressure
3,1646,0,"a 17-year-old male, has come to the student he...",3,Intermittent-symptoms
4,1646,0,"a 17-year-old male, has come to the student he...",4,Lightheaded